.image {
    height: 300px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
}

.listings__page {
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0 0 10px 0;
}

.listings__container {
    display: flex;
    /* flex-direction: column-reverse; */
    background-color: rgb(248, 246, 242);
    width: 45%;
    height: 100%;
    /* overflow: scroll; */
    font-family: 'Montserrat', sans-serif;
    z-index: 0;
}

.nav__image__container {
    border-top: 1px solid rgb(245, 180, 0);
    margin: auto 2em;
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;

}

.listing__info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-decoration: none;

}

.listing__name {
    color: black;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 3px;
    padding-bottom: 10px;
    text-decoration: none;
}

.listing__address {
    color: rgb(126, 119, 110);
    justify-content: space-between;
    text-decoration: none;
}

.price__container {
    bottom: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.listing__price {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 700;
    padding-right: 5px;
}

a:link {
  text-decoration: none;

}

.backtoTop {
    bottom: 210px;
    right: 0;


    position: fixed;
    /* margin-bottom: 200px; */
    margin-right: 480px;
    text-shadow: -1px 1px 10px rgb(255, 145, 0),
				  1px 1px 2px rgb(172, 155, 2),
				  1px -1px 25px rgb(255, 94, 0),
				  -1px -1px 5px rgb(255, 169, 8);
}
