body {
    margin: 0;
    padding: 0;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #6b6b6b; */
    background-size: cover;
    background-position: center;
    background-image: url('https://media0.giphy.com/media/exfSTanP4prYQ/giphy.gif?cid=ecf05e47htmrtz410pl3du84b676oypf03369m28em4v6158&rid=giphy.gif&ct=g');
    box-shadow: 0px -3px 15px rgb(253, 176, 33);
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    /* margin-left: -10px;
    margin-bottom: -10px; */
    height: 200px;
}

.footerLogo__container {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* padding-top: 15px; */
}

.footer__logos{
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: orange;
    text-shadow: 0 0 6px rgb(0, 0, 0);
    transition: transform 0.5s;
}

.footer__logos:hover{
    text-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.5s;
    color: transparent;
}

.footer__title, .footer__info1, .footer__info2 {
    color: orange;
   
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


}

.footer__info1 h3 {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.footer__info h3 {
    margin-bottom: 0;
    padding-top: 0;

}

.footer__title {
    margin-bottom: 0;
    text-transform: uppercase;

}
