video {
    object-fit: cover;
    width: 100%;
    margin-left: -15px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.htitle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(253, 159, 35);
    text-transform: uppercase;
    /* letter-spacing: 1vw; */
    /* line-height: 1.2; */
    /* font-size: 3vw; */
    text-align: center;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    letter-spacing: 3vw;
}

span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1vw;
}

.explore__link {
    border: orange solid;
    border-radius: 20px;
    border-width: 25%;
    padding: 12px;
    letter-spacing: 10px;
    text-decoration: none;
    color: orange;
    transition: transform 0.5s;
    text-shadow: 0 0 8px rgb(255, 255, 255);
}

.explore__link:hover {
    box-shadow: 0px 0px 20px rgb(255, 252, 252);
    transition: 0.5s;
}
